<p>
    <button class="btn btn-primary btn-lg" ng-click="ShowModel=!ShowModel">Model</button>
    <div class="row">
        <div class="col-md-6">

            <div class="input-group">
                <span class="input-group-addon"><i class="mdi-content-create"></i></span>
                <input class="form-control input-lg floating-label" ng-model="Model.Name" placeholder="Model name">
            </div>
        </div>
    </div>
</p>
<pre ng-hide="ShowModel" >
<div ng-include src='"CodeTemplates/WebAPI/Model.html"'></div>
</pre>
