&lt;table class="table table-striped table-bordered table-condensed table-hover"&gt;
    &lt;thead&gt;
        &lt;tr class="bg-primary"&gt;<span ng-repeat="column in Detail.Output">
            &lt;td&gt;{{column.Name}}&lt;/td&gt;</span>
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr ng-repeat="row in Model.<span>{{Model.Name}}</span>.rows" ng-class="{info: row==Selected}" ng-click="Select(row)"&gt;<span ng-repeat="column in Detail.Output">
            &lt;td&gt;<span ng-non-bindable>{{row.</span>{{column.Name}}<span ng-non-bindable>}}</span>&lt;/td&gt;</span>
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
