
/************************************ Hide and Show animation *******************/

/* Hiding */
.ng-hide-add {
    -webkit-animation:0.2s fadeOut ease; 
  animation:0.5s fadeOut ease;
}

/* Showing */
.ng-hide-remove {
    -webkit-animation:0.4s fadeIn ease; 
  animation:0.5s fadeIn ease;
}





/******************************route animation************************************/

.BE.animatetabs.ng-enter {
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.BE.animatetabs.ng-enter {
    /* The animation preparation code */
    opacity: 0;
}

    /**
 * Post animation -> enter
 */
    .BE.animatetabs.ng-enter.ng-enter-active {
        /* The animation code itself */
        opacity: 1;
    }
