html, body {
    min-height: 100%;
}

.BE.fullheight {
    min-height: 100%;
}

textarea {
    resize: vertical;
}

/*side menu*/
.BE.sidemenuheader {
    display: table;
    margin: 0 auto;
    margin-top: -15px;
}

    .BE.sidemenuheader img {
        height: 30px;
        margin-top: -9px;
    }

    .BE.sidemenuheader h1, h6 {
        color: white;
    }

    .BE.sidemenuheader h6 {
        font-size: 10.6px;
        margin-top: -12px;
        font-weight: 300;
    }

.BE.sidemenulinks a {
    text-align: left;
}


/*material design*/
.btn-material-bluegrey {
    color: white !important;
}



